
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009557;
    padding: 20px;
}

.painel-principal {
    font-size: 24px;
    font-weight: bold;
    color: white;
}



.logo {
    font-size: 10px;
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.dropdown {
    color: white;
    font-size: 20px;
    position: relative;
}

aside {
    width: 288px;
    background-color: #11593B;
    padding: 10px;
    position: absolute;
    top: 90px; /* Alinha com o topo do formulário */
    bottom: 0;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.user-name {
    color: white;
    font-size: 20px;
}

.line {
    height: 1px;
    background-color: white;
    margin-top: 20px;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 390px;
    padding: 20px;
    background-color: #009557;
    border-radius: 25px;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 50px; /* Ajuste para alinhar com o conteúdo */
}

.card {
    margin-bottom: 40px;
}

a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 30%;
    margin: 2% auto;
}

.card-icon {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.card-icon i {
    font-size: 64px; /* Tamanho do ícone */
    color: #000000;  /* Cor do ícone */
}

.card-title1 {
    font-size: 36px;
    color: white;
    margin-right: -30%;
    padding-left: 31px;
}

.card-title {
    font-size: 36px;
    color: white;
    margin-right: -15%;
}

.card-line {
    width: 780px;
    height: 5px;
    background-color: white;
    margin: 20px auto;
}

.imagem-icone {
    width: 40px;
    height: 40px;
    margin-left: 10%;
    margin-top: 4%;
}

.imagem-consulta {
    margin-left: 15%;
}

.botao-medico {
    margin-left: 15%;
}


button {
    background-color: transparent;
    border: none;
}


@media screen and (max-width: 430px) {

    body {
        width: 248vw;
    }

    header {
        height: 14vh;
    }

    header .logo {
        display: none;
    }

    .imagem-medico,
    .imagem-paciente,
    .imagem-consulta {
        display: none;
    }

    aside {
        width: 243vw;
        height: 160px;
        margin-top: 18%;
    }

    aside::before {
        content: url(image\ 14.png);
        font-size: 10px;
    }

    aside .line {
        display: none;
    }

    .user-profile {
        height: 100px;
    }

    .user-name {
        font-size: 30px;
    }

    .painel-principal {
        font-size: 30px;
    }

    .main-content {
        width: 238.5vw;
        height: 230vh;
        margin-left: 0;
    }

    .card-icon {
        width: 100px;
        height: 100px;
    }

    .card-title {
        font-size: 24px;
        margin-left: 10px;
    }

    .card-line {
        margin: 10px auto;
    }

    .card-line {
        display: none;
    }

    button {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        border-radius: 15px;
        border: 2px solid #000000;
    }

    .card-title {
        color: #000000;
        font-size: 70px;
        margin-left: 60%;
    }

    .card-title1 {
        color: #000000;
        font-size: 70px;
        padding-right: 40%;
        transform: translateX(-15%);
    }

    .botao-medico {
        width: 160vw;
        height: 28vh;
        margin-bottom: 6%;
    }

    .botao-paciente {
        width: 160vw;
        height: 28vh;
        margin-bottom: 10%;
        margin-left: 15%;
    }

    .botao-consulta {
        width: 160vw;
        height: 28vh;
        margin-bottom: 10%;
        margin-left: 15%;
    }

    .card {
        display: flex;
        align-items: center;
    }

    .dropdown {
        height: 38px;
        font-size: 38px;
        background-color: #11593B;
    }
    
    .painel-principal {
        font-size: 50px;
    }

}