@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter";
}

body {
    background-color: #f0f0f0; /* Fundo da página mais suave */
    display: flex;
    flex-direction: column; /* Alterado para coluna para ajustar o posicionamento */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.logo {
    width: 500px; /* Tamanho da imagem ajustado */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

.container {
    background-color: #009557; /* Fundo verde do contêiner */
    padding: 50px; /* Ajuste do padding para centralizar o conteúdo */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Largura máxima para o contêiner */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; /* Cor branca para o título */
}

form {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste automático do layout para diferentes tamanhos de tela */
    gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
    font-weight: 300;
    color: #ffffff; /* Cor branca para os rótulos dos campos */
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f1f1f1; /* Fundo branco para os campos de entrada */
}

input::placeholder {
    font-weight: 200;
    font-size: 14px;
}

button {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #004d40; /* Verde mais escuro para o botão */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave para o efeito hover */
    margin: 20px 0;
    font-weight: bold;
}

.icon-voltar {
    width: 100%;
    margin-left: 3%;
}

.img-icon {
    width: 30px;
    height: 30px;
}

button:hover {
    background-color: #003d33; /* Verde ainda mais escuro para o efeito hover */
}

/* Estilos responsivos para celulares */
@media screen and (max-width: 430px) {
    .logo {
        width: 200px; /* Ajustar o tamanho da logo para caber na tela de celular */
        margin-bottom: 15px; /* Reduzir a margem inferior */
    }
    .container {
        padding: 6px; /* Reduzir o padding para telas menores */
        max-width: 80%; /* Ocupa toda a largura da tela */
    }
    .grid-container {
        grid-template-columns: 1fr; /* Coluna única em telas pequenas */
    }
    button {
        width: 80%; /* Aumentar a largura do botão para se ajustar melhor em telas pequenas */
        margin: 10px auto; /* Centralizar horizontalmente com margem automática */
        display: block; /* Garantir que o botão se comporte como um bloco */
    }
    .img-icon {
        width: 25px; /* Ajustar o tamanho da imagem de voltar */
        height: 25px;
    }
}
