@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    border: none;
    font-family: "Inter", sans-serif;
}

.corpo {
    height: 100vh;
    background-color: white;
}

.Login {
    height: 100vh;
    border-radius: 20px;
    margin: 2% auto;
}

.login-usuario,
.login-senha {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15%;
}

label {
    font-size: 106%;
    color: white;
}

input {
    border-radius: 25px;
    height: 48px;
    padding-left: 34px;
    width: 80%;
    margin-left: 5%;
}

.sessao {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0 auto;
    height: 90%;
    width: 70%;
    margin-left: 18%;
}

.formulario-login {
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #009557;
    border-radius: 20px;
}

.botao {
    font-size: 25px;
    color: rgb(247, 247, 247);
    background-color: #0F5A3B;
    border-radius: 10px;
    width: 290px;
    height: 60px;
    margin-bottom: 40%;
    margin-left: 20%;
    font-size: 140%;
}

.botao:hover {
    color: rgb(0, 0, 0);
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 600px;
    height: 600px;
}

.nome,
.senha {
    margin-left: 8%;
    font-size: 120%;
}

.esqueceu-senha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -37%;
}

.linha {
    border: 0px none transparent;
    border-top: 1px solid white;
    gap: 10px;
    width: 33%;
    height: 1px;
    align-self: center;
    margin: 1%;
}

.pergunta {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.link {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.container {
    background-color: #009557;
    display: flex;
    justify-content: center;
    width: 500px;
    border-radius: 20px;
    margin-bottom: 3%;
}

.botao-link {
    color: white;
    font-size: 18px;
    padding: 10%;
    background-color: #009557;
    text-decoration: none;
}


@media screen and (max-width: 430px) {

    img {
        width: 100vw;
        height: 8vh;
        margin-left: 9px;
    }

    .sessao {
        flex-direction: column;
        gap: 20px;
        margin-left: 0;
        width: 100%;
        height: auto;
    }

    .formulario-login,
    .container {
        width: 90%;
        margin-left: 20px;
    }

    .imagem {
        display: none;
    }

    .login-usuario,
    .login-senha {
        margin-bottom: 10%;
    }

    .botao {
        width: 70%;
        margin-left: 15%;
        font-size: 170%;
    }

    .logo {
        margin-bottom: 10%;
    }

    .botao-link {
        border-radius: 40px;
    }

    .esqueceu-senha {
        display: flex;
        justify-content: space-around;
        margin-top: -20%;
        gap: 10px;
    }

    .linha {
        width: 25%;
    }

    .pergunta {
        font-size: 16px;
    }

    .unimed {
        height: 60px;
    }
}