@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	background-color: white;
	background-size: cover;
}

.titulo {
	font-family: 'Lexend';
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	color: #3572EF;
	text-align: center;
	padding: 4%;
}

.container {
	width: 20%;
	height: 60vh;
	background: #FFFFFF;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.34);
	margin-left: 32%;
	padding: 1%;
}

.form {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 13px;
}

label {
	font-family: "Inter";
	padding-left: 5%;
}

.form-input {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

input {
	padding-left: 3vw;
	box-sizing: border-box;
	align-self: center;
	width: 340px;
	height: 43px;
	background-color: lightgrey;
	border: 2px solid #3572EF;
	border-radius: 20px;
	background-color: #FFFFFF;
	font-family: "Inter";
}

input:focus {
	box-shadow: 0 0 0 0;
	outline: 0;
}

.circulo {
	position: absolute;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background-color: #3572EF;
	margin-top: 2.6vh;
}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.308);

}

.icon-user, .icon-cpf, .icon-date, .icon-email, .icon-lock {
	display: flex;
    justify-content: center;
	color: #fff;
	font-size: 25px;
}

.icon-user {
    margin: 22% auto;
}

.icon-cpf {
    margin: 25% auto;
}
.icon-date {
    margin: 22% auto;
}
.icon-email{
	margin: 25% auto;
}
.icon-lock{
	margin: 22% auto;
}

button {
	font-family: 'Inter';
	font-weight: bold;
	font-size: medium;
	color: white;
	margin: 7px;
	background-color: #050C9C;
	border-style: none;
	width: 18vw;
	height: 4vh;
	align-self: center;
	transition: all 0.2s ease-in;
}

button:hover {
	background-color: #04096d;
}

.text,
.text a {
	margin-top: -1vh;
	font-family: 'Inter';
	color: black;
	text-align: center;
	font-size: 14px;
}

.text a {
	font-weight: bold;
}

/*Bola*/
.bola {

	position: relative;
	width: 310px;
	height: 310px;
	margin-left: -5vw;
	margin-top: -5vh;
	border-radius: 50%;

	background: #FBBB81;
}

/* Tri창ngulo azul*/
.triangulo-azul {
	position: relative;
	background-color: #003282;
	margin-left: 84%;
	margin-top: -22vh;
}

.triangulo-azul:before,
.triangulo-azul:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.triangulo-azul,
.triangulo-azul:before,
.triangulo-azul:after {
	width: 10em;
	height: 10em;
	border-top-right-radius: 30%;
}

.triangulo-azul {
	transform: rotate(-135deg) skewX(-40deg) scale(1.5, 1.2);
}

.triangulo-azul:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.triangulo-azul:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

/*Tri창ngulo Principal*/
.triangulo-principal {
	position: absolute;
	background-color: #E4860A;
	margin-left: 68vw;
	bottom: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.triangulo-principal:before,
.triangulo-principal:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.triangulo-principal,
.triangulo-principal:before,
.triangulo-principal:after {
	width: 18em;
	height: 18em;
	border-top-right-radius: 37%;
}

.triangulo-principal {
	transform: rotate(-87deg) skewX(-30deg) scale(1, .866);
}

.triangulo-principal:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.triangulo-principal:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

.texto-triangulo {
	position: absolute;
	top: 54%;
	left: 79%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.senac {
	position: absolute;
	top: 43%;
	left: 78%;
	transform: translate(-50%, -50%);
}

.texto-triangulo h2 {
	color: white;
	font-family: "Lexend";
	font-weight: 300;
	font-size: 23px;
}

.texto-triangulo h1 {
	color: white;
	font-family: "Days One";
	font-weight: 400;
	font-size: 30px;
	margin-top: 1vh;
}

/*Tri창ngulo Laranja*/
.triangulo-laranja {
	position: absolute;
	background-color: #E4860A;
	margin-top: -32vh;
	margin-left: -1vw;
	z-index: -1;
}

.triangulo-laranja:before,
.triangulo-laranja:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.triangulo-laranja,
.triangulo-laranja:before,
.triangulo-laranja:after {
	width: 16em;
	height: 16em;
	border-top-right-radius: 27%;
}

.triangulo-laranja {
	transform: rotate(-87deg) skewX(-30deg) scale(1, .967);
}

.triangulo-laranja:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.triangulo-laranja:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

/*Tri창ngulo Laranja Claro*/

.triangulo-laranja-claro {
	position: relative;
	background-color: #FBBB81;
	text-align: left;
	margin-left: 84%;
}

.triangulo-laranja-claro:before,
.triangulo-laranja-claro:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.triangulo-laranja-claro,
.triangulo-laranja-claro:before,
.triangulo-laranja-claro:after {
	width: 6em;
	height: 6em;
	border-top-right-radius: 55%;
}

.triangulo-laranja-claro {
	transform: rotate(60deg) skewX(-40deg) scale(1.12, .67);
}

.triangulo-laranja-claro:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.triangulo-laranja-claro:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

/*FAIXA AZUL*/
.rodape {
	background-color: #003282;
	height: 11vh;
	z-index: 1;
}

@media screen and (max-width: 800px) {

    .bola {
        margin-left: -25vw;
        margin-top: -25vh;
    }

    .triangulo-azul,
    .triangulo-azul:after,
    .triangulo-azul:before {
        display: none;
    }

    .container {
        margin-top: 16%;
        margin-left: 20%;
        width: 60%;
        height: 60vh;
        padding: 1%;
    }

    .titulo {
        font-size: 24px;
    }

	.form {
		gap: 10px;
	}

    label {
        font-size: 13px;
    }

    .circulo {
        width: 43px;
        height: 43px;
        margin-top: 2.4vh;
		margin-left: 2.9vw;
    }

	input {
		width: 90%;
		padding-left: 8.5vw;
		font-size: 12px;
	}

	.img-input{
		margin-left: 5vw;
		margin-top: 3.7vh;
	}

    button {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
		margin-bottom: 0%;
    }

    .triangulo-principal{
        margin-left: 55vw;
        bottom: 80vh;
        z-index: -1;
    }


    .triangulo-principal,
    .triangulo-principal:before,
    .triangulo-principal:after {
        width: 9em;
        height: 9em;
    }

    .texto-triangulo{
        left: 59vw;
        top: 13%;
        transform: translate(0, 0);
    }

    .senac{
        top: 9%;
        left: 72%;
    }

    .senac img {
        width: 61px;
        height: 38px;
    }

    .texto-triangulo h2{
        font-size: 13px;
    }

    .texto-triangulo h1{
        font-size: 16px;
    }

    .triangulo-laranja, 
    .triangulo-laranja:after, 
    .triangulo-laranja:before{
        width: 12em;
        height: 12em;
        margin-left: -2vw;
    }

    .triangulo-laranja-claro,
    .triangulo-laranja-claro:before,
    .triangulo-laranja-claro:after {
        display: none;
    }
    .rodape {
        height: 9vh;
        margin-top: 17%;
    }
}