<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../public/css/gerenciamento.css">
</head>

<body>
    <header class="upbar">
        <img class="img-senac" src="../public/imgs/senac_logo_branco.png" alt="">
    </header>
    <div class="downbar"></div>
    <sidebar class="sidebar">
        <img src="../public/imgs/bars-solid.svg" alt="" class="menu_sand">
        <nav class="side_items">
            <a href="inicio.html">
                <i class="fa-solid fa-house"></i>
                <span>Início</span>
            </a>
            <hr>
            <a href="gerenciamento.html">
                <i class="fa-solid fa-calendar-days"></i>
                <span>Gerenciamento</span>
            </a>
            <hr>
            <a href="reservas.html">
                <i class="fa-solid fa-table-list"></i>
                <span>Reservas</span>
            </a>
            <hr>
            <a href="relatorio.html">
                <i class="fa-solid fa-clipboard"></i>
                <span>Relatório</span>
            </a>
            <hr>
            <a href="perfil.html">
                <i class="fa-solid fa-circle-user"></i>
                <span>Perfil</span>
            </a>
        </nav>
    </sidebar>
    <main>
        <div class="caminho">
            <a class="home" href="inicio.html">Início/</a>
            <a class="gerenciamento" href="gerenciamento.html">Gerenciamento/</a>
        </div>
        <section class="section1">
            <button class="add_prod">
                <i class="ri-add-large-line"></i>
                Adicionar Produto
            </button>
        </section>
        <dialog class="dialog_addprod">
            <nav>
                <h3>Adicionar Produto</h3>
                <i class="fa-solid fa-xmark x_add_prod"></i>
            </nav>
            <form class="campos">
                <div class="prod_cat">
                    <div class="div_prod">
                        <h5>Produto</h5>
                        <input type="text" class="input_nome" placeholder="Ex.: Cabo de rede">
                    </div>
                    <div class="div_cat">
                        <h5>Categoria</h5>
                        <div class="search_select_box">
                            <select data-live-search="true">
                                <option disabled selected>Pesquisar</option>
                                <option>Máquina</option>
                                <option>Equipamentos</option>
                                <option>Robótica</option>
                                <option>Impressora</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="desc">
                    <h5>Descrição</h5>
                    <input type="text" class="input_desc" placeholder="Ex. : Para conexão Wi-Fi">
                </div>
                <div class="quant_uni">
                    <div class="div_quant">
                        <h5>Quantidade</h5>
                        <input type="text" class="input_quant" placeholder="Ex. : 200">
                    </div>
                    <div class="div_uni">
                        <h5>Unidade de Medida</h5>
                        <div class="search_select_box">
                            <select data-live-search="true">
                                <option disabled selected>Pesquisar</option>
                                <option>Decímetros</option>
                                <option>Milímetros</option>
                                <option>Centímetros</option>
                                <option>Metros</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="div_bot">
                    <button class="botao_add">Adicionar</button>
                </div>
            </form>
        </dialog>
        <section class="section2">
            <div class="tabela-g">
                <table id="minhaTabela" class="table table-responsive table-striped table-bordered tabela-gerenciamento">
                    <thead>
                            <tr>
                                <th>Itens</th>
                                <th>Ações</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>    <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>    <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                        <tr>
    
                            <td class="text">Cabo de rede</td>
                            <td class="td_btn_edit_switch">
                                <a class="botao_detalhes">
                                    <i class="fa-solid fa-eye"></i>
                                    Detalhes
                                </a>
                                <a class="botao_editar">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a class="botao_desativar">
                                    <i class="fa-solid fa-trash"></i>
                                    Desativar
                                </a>
                               
                            </td>
                            
                        </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                    
                </table>
            </div>
        </section>
        <dialog class="dialog_confirm">
            <div class="dialog_conteudo">
                <div class="div_dialog_mensagem">
                    <p class="dialog_mensagem"></p>
                </div>
                <div class="dialog_botoes">
                    <button class="btn_confirm">SIM</button>
                    <button class="btn_cancel">NÃO</button>
                </div>
            </div>
        </dialog>
        <dialog class="dialog_editar">
            <nav>
                <h3>Editar Produto</h3>
                <i class="fa-solid fa-xmark x_edit"></i>
            </nav>
            <form class="campos2">
                <div class="prod_cat2">
                    <div class="div_prod2">
                        <h5>Produto</h5>
                        <input type="text" class="input_nome2" placeholder="Ex.: Cabo de rede">
                    </div>
                    <div class="div_cat2">
                        <h5>Categoria</h5>
                        <div class="search_select_box">
                            <select data-live-search="true">
                                <option disabled selected>Pesquisar</option>
                                <option>Máquina</option>
                                <option>Equipamentos</option>
                                <option>Robótica</option>
                                <option>Impressora</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="desc2">
                    <h5>Descrição</h5>
                    <input type="text" class="input_desc2" placeholder="Ex. : Para conexão Wi-Fi">
                </div>
                <div class="quant_uni2">
                    <div class="div_quant2">
                        <h5>Quantidade</h5>
                        <input type="text" class="input_quant2" placeholder="Ex. : 200">
                    </div>
                    <div class="div_uni2">
                        <h5>Unidade de Medida</h5>
                        <div class="search_select_box">
                            <select data-live-search="true">
                                <option disabled selected>Pesquisar</option>
                                <option>Decímetros</option>
                                <option>Milímetros</option>
                                <option>Centímetros</option>
                                <option>Metros</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="div_bot2">
                    <button class="botao_edit">Editar</button>
                </div>
            </form>
        </dialog>
        <div class="div_dialog_escuro"></div>
    </main>

    <!-- Link para a biblioteca de ícones FontAwesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
        integrity="sha384-OH5h9J1d4F2pWOSr6QdoARnIk/lZwE2deLq5pD7zB2RyFF2zDzZQdyycfp6Hs6jb"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <!-- Incluir o JS do DataTables -->
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="../public/js/gerenciamento.js"></script>




<!-- Ativar o DataTable -->
<script>
    $(document).ready(function() {
        $('#minhaTabela').DataTable({
            language: {
                "sEmptyTable": "Nenhum dado disponível na tabela",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(filtrado de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Pesquisar:",
                "sLengthMenu": "Exibir _MENU_ registros por página",
                "sUrl": "",
                "sInfoThousands": ".",
                "sLoadingRecords": "Carregando...",
                "oPaginate": {
                    "sFirst": "Primeira",
                    "sLast": "Última",
                    "sNext": "Próxima",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": ativar para ordenar coluna de forma ascendente",
                    "sSortDescending": ": ativar para ordenar coluna de forma descendente"
                }
            },
                scrollCollapse: true,
                scrollY: '500px',



        });
    });
</script>
</body>

</html>