*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }
 
 body {
    background: linear-gradient(to bottom, #6a27ab, #1e90ff); /* Gradiente azul escuro para azul vibrante */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
 }
 
 .background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); /* Sobreposição transparente */
    z-index: 1;
 }
 
 .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
 }
 
 .login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center; 
 }
 
 .profile-image {
    max-width: 100%; /* Ajusta para que a largura máxima seja o contêiner */
    height: auto; /* Mantém a proporção */
    margin-bottom: 20px; /* Adiciona um espaço abaixo da imagem */
    border-radius: 50%; /* Se quiser uma imagem circular */
 }
 
 h1 {
    margin-bottom: 30px;
    color: #6a27ab;
    font-size: 24px;
    display:flex;
    justify-content: center;
    align-items: center;
 }
 h1 i{
    margin-right: 10px;
    font-size: 40px;
    color: #1e90ff;
 }
 
 form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Mantém os campos centralizados */
 }
 
 .input-group {
    margin-bottom: 25px;
    width: 100%;
 }
 label[for="password"]{
    margin-top: 20px;
 }
 label {
    margin-bottom: 2px;
    color: #333;
    text-align: left;
    display: block;
    width: 100%;
 }
 
 input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 2px solid #6a27ab;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
 }
 
 input:focus {
    border-color: #005cbf;
    outline: none;
 }
 
 button {
    background-color: #6a27ab;
    color: #fff;
    padding: 12px 0;
    width: 90%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10%;
 }
 
 button:hover {
    background-color: #005cbf;
 }
 
 a {
    display: block;
    margin-top: 20px;
    color: #6a27ab;
    text-decoration: none;
 }
 
 a:hover {
    text-decoration: underline;
 }
 
 input::placeholder {
    color: #583499;
 
 }
 