@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('topo.css');
*{
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container{
    width: 65%;
    height: 70vh;
    background-color: #293B6A;
    position: center;
    top: 50px;
    right: 750px;
    border-radius: 50px;
}

.titulo{
    color: white;
    font-weight: bold;
    background-color:  #293B6A;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}





.block{
    position: absolute;
    height: 4%;

}

.img_senac_logo{
    margin-right: 9%;
    width: 55px;
    height: 35px;
    margin-top: 12px;
 }
 .keybox{
    margin: auto;
    width: 1000%;
    right: 80%;
    display: flex;
    justify-content: center;
    
}