@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('topo.css');


*{
    margin: 0;
    font-family: 'Poppins';
    
}
.corpo{
    height: 100vh;
    background: rgb(14,20,36);
    background: linear-gradient(90deg, rgba(14,20,36,1) 0%, rgba(54,77,138,1) 35%);
    display:flex;
    flex-direction: row-reverse;
}
.formulario{

    color: white;
    width: 60%;
    display: flex;
    justify-content: center;
}
.img{
    width: 40%;
    height: 80vh;
}
.titulo-form{
    font-size: 66px;
    margin-top: 140px;

}
.formulario-campos{
    display:flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    width: 50%;
}
.form-input{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    left: -400px;
    padding: 2%;
    right: 10vh;
}
label{
    font-weight: 200;
    font-size: 30px;
}
.links-form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 2px;
}
.form-label{
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
}

.criarconta{
    font-size: 15px;
    font-weight: 90;
    text-decoration-color: rgb(214, 213, 213);
    color: white;
}

input{
    border-radius: 35px;
    height: 48px;
    border: 2px solid rgba(128, 128, 128, 0.548);

}
input::placeholder{
    font-size: 15px;
    font-weight: 200;
    padding-left: 20px;
}
button{
    border-radius: 35px;
    height: 48px;
    border: none;
    color: rgb(41, 59, 106);
    font-size: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    margin-top: 10px;
    width: 50%;
    align-self: center;
}
.botao-link{
    border-radius: 35px;
    height: 48px;
    border: none;
    color: rgb(41, 59, 106);
    font-size: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    margin-top: 10px;
    width: 80%;
    align-self: center;
    text-decoration: none;
    text-align: center;

}

button:hover{
    background: #ffffffb7;
    background: linear-gradient(90deg, #ffffff9f 0%, #ffffffbb 100%);
}



@media screen and (max-width: 800px){
    .corpo{
        display: flex;
        flex-direction: column;
    }
    .img{
        height: 70vh;
        width: 60%;
        align-self: flex-end;
    }
    .formulario{
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    .formulario-campos{
        display: flex;
        justify-content: center;
        width: 80%;

    }

    .form-input{
        margin-top: 2px;
    }
    .titulo-form{
        width: 100%;
        font-size: 40px;
        text-align: left;
    }
    .links-form{
        margin-top: 10px;
    }
    button{
        margin: 5%;
    }
    .titulo-form{
        margin-top: 1px;
    
        }

}

