/* Estilos Gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('topo.css');
*{ 
    font-family: "Poppins";
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
   
    padding: 0;
    display: flex; 
    flex-direction: column;   
    height: 100vh;
}

/* Container geral */
.container {
    display:flex;
    flex-direction: column; 

}

/* Breadcrumb de navegação */
.breadcrumb {
    font-size: 15px;
    text-align: left;
    padding: 2%;
    margin-top: 4%;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
  
    
}

/* Estilo do contêiner do formulário */
.form-container {
    background-color: #293B6A;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 50px;
    color: #fff;
    text-align: center;
    width: 60%;
    height: 60vh;
    margin: 0 auto;
}

.form-container h2 {
    font-size: 22px; /* Aumenta o tamanho da fonte para centralização */
    border-bottom: 2px solid #0d3b66;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    border-radius: 20px;
    font-weight: 300;
    

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input {
    width: 60%; /* Aumenta o tamanho do campo de entrada para preenchimento */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 5%;
}

button {
    width: 420px;
    padding: 12px;
    background-color: #2a3d62;
    color:white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10%;
    font-weight: 300;
}

button:hover {
    background-color: #223451;
}

.custom-label{
    font-size: 19px; /* Ajusta o tamanho da fonte */
     margin-top: 2%; /* Define a margem ao redor do elemento */
  padding: 0.5px; /* Define o espaçamento interno do elemento */
  align-items: center; /* Alinha verticalmente no centro */
  text-align: center; /* Centraliza o texto e a imagem */
  padding: 8px;
  font-weight: 300; /* Adiciona espaçamento interno ao campo de entrada */
  }
  

@media screen and (max-width:414px) {
    .form-container{
        margin-top: 13% ;
        width: 90%;
        height: 65vh;
        
    }
    form{
        padding: 2%;
    }
    input{
        width: 220px; /* Aumenta o tamanho do campo de entrada para preenchimento */
        padding: 10px;
    }
    button{
        width: 220px; /* Aumenta o tamanho do campo de entrada para preenchimento */
        padding: 10px; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .form-container h2 {
        margin: 0;
        font-size: 22px; /* Aumenta o tamanho da fonte para centralização */
        border-bottom: 2px solid #0d3b66;
        font-weight: 300;
        width: 100%;
    
    }
    .logokeybox{
        margin-bottom: 10%;
    }
    .keyboard{
        justify-content: flex-end;
        margin-left: 2%;
        margin-top: 2%;
        width: 70%;
    }
    .logosenac{
        width: 30%;
        display: flex;
        justify-content: flex-end;
        margin-right: 2%;
        
    }
    .logosenac img{
        width: 49px;
        height: 28px;
        align-self: center;


    
    }
    .centralizado{
            font-size: 25px;
    }
   
    /* Breadcrumb de navegação */
.breadcrumb {
    font-size: 14px;
    text-align: left;
    margin-top: 20%;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
}
.container{
 
}
.img_senac_logo{
    margin-right: 9%;
    width: 55px;
    height: 35px;
    margin-top: 12px;
 }
 .keybox{
    margin: auto;
    width: 1000%;
    right: 80%;
    display: flex;
    justify-content: center;
    
}
}