@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('topo.css');

*{ 
    font-family: "Poppins";
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
   
    padding: 0;
    display: flex; 
    flex-direction: column;   
    height: 100vh;
}

/* Container geral */
.container {
    display:flex;
    flex-direction: column;
    padding: 2%;

}

/* Breadcrumb de navegação */
.breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 6%;
    margin-left: 5%;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
    margin-top: 3px;
    left: 50%;
    
}

/* Estilo do contêiner do formulário */
.form-container {
    background-color: #293B6A;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 50px;
    color: #fff;
    width: 60%;
    height: 60vh;
    margin: 0 auto;
}

.form-container h2 {
    font-size: 22px; /* Aumenta o tamanho da fonte para centralização */
    border-bottom: 2px solid #0d3b66;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    border-radius: 20px;
    font-weight: 300;
    text-align: center;
    

}

input {
    width: 60%; /* Aumenta o tamanho do campo de entrada para preenchimento */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 5%;
}

button {
    width: 15%;
    padding: 12px;
    background-color: white;
    color:#2d436d;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
}

button:hover {
    background-color: #c7cbd2;
}

.custom-label{
    font-size: 19px;
     margin-top: 1px;
  padding: 0.5px; 
  align-items: normal;
  text-align:left;      
  padding: 8px;
  font-weight: 300; 
  }
  
  .retangulo-superior {
    width: 100%;
    height: 60px;
    background-color: #293B6A;
    display: flex;
  }

.centralizado {
    color: white;
    font-size: 30px;
    margin: 0;
}

.keyboard{
    margin: auto;
    width: 63%;
    display: flex;
    justify-content: flex-end;
}

.logosenac{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;

}
.formulario{
  display: flex;
  flex-direction: column;
}
.form-inputs{
  display: flex;
  flex-direction: column;
  padding: 5%;
  
}
.quem-retirou{
  display: flex;
  flex-direction: column;
}
.data-hora{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.data, .hora{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.chave{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.form-botoes{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2%;
  margin-right: 2%;
}

@media screen and (max-width:414px) {
    .form-container{
        margin-top: 5% ;
        width: 90%;
        height: 65vh;
        
    }
    form{
        padding: 2%;
    }
    input{
        width: 220px; /* Aumenta o tamanho do campo de entrada para preenchimento */
        padding: 10px;
    }
    button{
        width: 100px; /* Aumenta o tamanho do campo de entrada para preenchimento */
        padding: 10px; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .form-container h2 {
        margin: 0;
        font-size: 22px; /* Aumenta o tamanho da fonte para centralização */
        border-bottom: 2px solid #0d3b66;
        font-weight: 300;
        width: 100%;
    
    }

    
    .centralizado{
        font-size: 25px;
    }
   .data-horainput{
     width: 80%;

   }
   .data-hora{
    width: 100%;
    gap: 4%;
   }
   .form-botoes{
    justify-content: flex-start;
    margin-left: 5%;
   }
   
   .breadcrumb {
    margin-top: 25%;
    margin-left: 5%;
}
.container {
    display:flex;
    flex-direction: column;
  

}
.img_senac_logo{
    margin-right: 9%;
    width: 55px;
    height: 35px;
    margin-top: 12px;
 }
 .keybox{
    margin: auto;
    width: 1000%;
    right: 80%;
    display: flex;
    justify-content: center;
    
}

}


