
@import url('topo.css');

body {
    
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.navegacao{
    margin-top: 5%;
    margin-left: 2%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.navegacao a {
    text-decoration: none;
    color: #000;
    margin-right: 5px;
}

.navegacao a:hover {
    text-decoration: underline;
}

.blocomeio {
    text-align: center;
    width: 80%;
    background-color: #293B6A;
    height: 10vh;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.blocomeio img {
    margin-right: 10px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    
}
.input-pesquisa{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #293B6A;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input-pesquisa:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.pesquisa {

    border: none;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #293B6A;
}

.pesquisa::placeholder {
    color: white;
}

.pesquisa:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.nav-esq, .nav-dir {
    width: 50%;
}

.nav-dir {
    display: flex;
    justify-content: end;
}

.blocoprincipal {
    width: 80%;
    background-color: #293B6A;
    height: 60vh;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.input-chave{
    display: flex;
    flex-direction: row;
    width: 98.5%;
    height: 9%;
    padding: 10px;
    border-radius: 20px;
    background-color: #293B6A;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: flex-start;
    gap: 20px;
    
}

.chave {

    border: none;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    background-color: #293B6A; 

}

.chave::placeholder {
    color: white;
}

.chave:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

}

.chave-vazia{

    width: 286px;
    height: 278px;    
    align-self: center;
    margin-top: 110px;

}

@media screen and (max-width: 800px) {

        .logo-sis { 

            justify-content: flex-start;
            margin-left: 1%;
        }
        .blocomeio {
            text-align: center;
            width: 80%;
            background-color: #293B6A;
            height: 10vh;
            margin: 20px auto;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin-top: 10%;

        }
        .navegacao{
            margin-top: 20%;

        }
        .input-chave{
            width: 97%;
            
        }
}
