@import url('topo.css');

body {
    background-color: #293B6A; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    color: #ffffff; 
    margin-bottom: 20px; 
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.row {
    display: flex; 
    gap: 30px;
}

.retangulo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: relative;
    margin: 0;
}

.retangulo {
    width: 300px;   
    height: 50px;
    border-radius: 30px;
    box-sizing: border-box; 
    padding-left: 10px; 
    font-size: 14px; 
    color: #000000;
    border: none; 
    background-color: #ffffff;
}
input::placeholder{
    color: #b6b6b6;
}

.label {
    font-size: 14px; 
    color: #f1ecec; 
    margin-bottom: 5px;
}

.button {
    background-color: white; 
    color: rgb(20, 10, 10); 
    padding: 20px 40px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 15px; 
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-top: 70px; 
    width: 50%;
    align-self: center;
}

.button:hover {
    background-color: #6c68b1; 

}

.img {
    width: 100px;
    height: 60px;
    margin-top: 20px;
}

@media screen and (max-width:414px){
    body{
        display: flex;
        flex-direction: column-reverse;
    }
    h1{
        font-size: 30px;
    }
    .container{
      flex-direction: column;
    }
    .row{
        flex-direction: column;
    }

}